-e ./PVGeo
sphinx-intl
transifex-client
vtk>=8.1.1
pyvista==0.30.1
numpy>=1.13
scipy>=1.1
colour-runner
codecov
pytest
pytest-cov
pandas>=0.23.4
mock>=2.0.0
pyproj>=1.9
omf>=0.9.3
omfvista>=0.2.0
espatools>=0.0.8
discretize>=0.4.3
# For building the documentation:
gendocs>=0.4.0
Sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-websupport
sphinx-copybutton
sphinx-gallery
sphinx-notfound-page>=0.3.0
